.alert{
    color:#d5292f;
}

.swal2-styled.swal2-confirm {
    border: 0;
    border-radius: 0.25em;
    background: initial;
    border-color: #c5a15b !important;
    background-color: #c5a15b !important;
    color: #fff;
    font-size: 1em;
}
.modal{
    z-index: -1;
}
.modal.show{
    z-index: 1145 !important;
}
.swal2-container {
    z-index: 2000 !important;
}
