<template>
  <div class="row mt-0">
    <section class="section section-lg pt-2"  >
        <div class="container">
            <h6>Admin Panel</h6>
        </div>
              <div class="container  mt-3">
              <article class="blog-layout" style="min-width: 136%;">
              <div class="blog-layout-aside">
                  
                  <div class="blog-layout-aside-item">
                    <p class="blog-layout-aside-title">Stores</p>
                    <ul class="list-marked">
                      <li><a href="#" @click="changeView('add store')">Add Store</a></li>
                      <li><a href="#" @click="changeView('list store')">View Records</a></li>
                    </ul>
                  </div>
                
                  <div class="blog-layout-aside-item">
                    <p class="blog-layout-aside-title">Artist</p>
                    <ul class="list-marked">
                      <li><a href="#" @click="changeView('add artist')">Add Artist</a></li>
                      <li><a href="#" @click="changeView('list artist')">Records</a></li>
                    </ul>
                  </div>
                  <div class="blog-layout-aside-item">
                    <p class="blog-layout-aside-title">Album</p>
                    <ul class="list-marked">
                      <li><a href="#" @click="changeView('add album')">Add Album</a></li>
                      <li><a href="#" @click="changeView('list album')">Records</a></li>
                    </ul>
                  </div>
                </div>
                <div class="blog-layout-main">
                  <div class="row row-50 row-xxl-70">
                    <!-- List of artists -->
                    <div class="col-sm-12" v-if="this.trig=='list artist'">
                      <div class="container" style="padding-left:0px">
                          <h6 style="font-size: 13px;">List of Artists</h6>
                      </div>
                      <div class="table-responsive wow fadeIn" style="visibility: visible; animation-name: fadeIn;">
                          <table class="table table-hover table-job-positions">
                            <thead>
                              <tr>
                              
                                <th>Name</th>
                                <th>Picture</th>
                                <th>Description</th>
                              </tr>
                            </thead>
                            <tbody>
                              <tr v-for="cs in artist_list">
                                <td style="text-align:left">
                                  {{cs.name}}
                                </td>
                                <td>
                                  <img v-if="!cs.picture" src="musc/images/logo-john-brad-72x48.png" alt="" width="72" height="48">
                                  <img v-if="cs.picture"  v-bind:src="'storage/artist/picture/'+cs.picture" alt="" width="72" height="48">
                                </td>
                                <td class="position" style="text-align:left">{{cs.description}}</td>
                             
                              </tr>
                            
                            </tbody>
                          </table>
                      </div>
                    </div>
                    <div class="col-sm-12" v-if="this.trig=='add artist'">
                      <div class="container mb-4" style="padding-left:0px">
                          <h6 style="font-size: 13px;">Add Artist</h6>
                      </div>
                      <div class="section-lg pt-0">
                        <div class=" rd-mailform">
                          <div class="row row-10">
                            
                          <form
                            @submit="formSubmitArtist"
                            method="POST"
                            enctype="multipart/form-data"
                          >
                            <div class="col-md-12 wow-outer">
                              <div class="form-wrap wow fadeSlideInUp" style="visibility: visible; animation-name: fadeSlideInUp;">
                                <label class="form-label-outside">Name</label>
                                <input class="form-input form-control-has-validation form-control-last-child"  type="text" v-model="artist.name">
                              </div>
                            </div>

                            <div class="col-md-12 wow-outer">
                              <div class="form-wrap wow fadeSlideInUp" style="visibility: visible; animation-name: fadeSlideInUp;">
                                <label class="form-label-outside">Description</label>
                                <textarea class="form-input form-control-has-validation form-control-last-child" style="height: 114px;" v-model="artist.description"></textarea>
                              </div>
                            </div>

                            <div class="col-md-12 wow-outer">
                              <div class="form-wrap wow fadeSlideInUp" style="visibility: visible; animation-name: fadeSlideInUp;">
                                <label class="form-label-outside">Artist Picture</label>
                                  <input
                                      type="file"
                                      name="picture1"
                                      class="form-control-file form=-control"
                                      id="picture1"
                                      style="margin: 6px"
                                      accept="image/x-png, image/gif, image/jpeg"
                                      @change="onFileChangeArtist"
                                  />
                              </div>
                            </div>
                            <div class="col-md-12 wow-outer">
                              <div class="row row-30 offset-top-2">
                                  <div class="col-sm-6 col-lg-3 wow-outer">
                                    <!-- Thumbnail Light-->
                                    <article class="thumbnail-light wow slideInLeft" data-wow-delay=".05s" style="visibility: visible; animation-delay: 0.05s; animation-name: slideInLeft;"><a class="thumbnail-light-media" href="#"><img class="thumbnail-light-image" v-bind:src="artist_picture" alt="" width="270" height="300"></a>
                                    </article>
                                  </div>
                                
                              </div>
                            </div>
                            <div class="wow-outer button-outer"><button class="button button-sm button-primary button-winona wow slideInDown" data-wow-delay=".1s" type="submit">Save</button></div>
                          </form>
                          </div>
                        
                            <div class="col-12" v-if="errors">
                              <div class="alert alert-danger" role="alert" style="padding-left:0px">
                                  <p>Something went wrong!</br>
                                  {{this.errors}}
                                  </p>
                              </div>
                            </div>
                        </div>
                      </div>
                    </div>
                    <!-- end List of artists -->
                    
                    <!-- list of stores -->
                    <div class="col-sm-12" v-if="this.trig=='list store'">
                      <div class="container" style="padding-left:0px">
                          <h6 style="font-size: 13px;">List of Stores</h6>
                      </div>
                      <div class="table-responsive wow fadeIn" style="visibility: visible; animation-name: fadeIn;">
                          <table class="table table-hover table-job-positions">
                            <thead>
                              <tr>
                              
                                <th>Name</th>
                                <th>Logo</th>
                                <th>Description</th>
                              </tr>
                            </thead>
                            <tbody>
                              <tr v-for="cs in store_list">
                                <td style="text-align:left">
                                  {{cs.name}}
                                </td>
                                <td>
                                  <img v-if="!cs.banner" src="musc/images/logo-john-brad-72x48.png" alt="" width="72" height="48">
                                  <img v-if="cs.banner"  v-bind:src="'storage/stores/logo/'+cs.banner" alt="" width="72" height="48">
                                </td>
                                <td class="position" style="text-align:left">{{cs.description}}</td>
                               
                              </tr>
                            
                            </tbody>
                          </table>
                      </div>
                    </div>
                    
                    <div class="col-sm-12" v-if="this.trig=='add store'">
                      <div class="container mb-4" style="padding-left:0px">
                          <h6 style="font-size: 13px;">Add Store</h6>
                      </div>
                      <div class="section-lg pt-0">
                        <div class=" rd-mailform">
                          <div class="row row-10">
                            
                          <form
                            @submit="formSubmit"
                            method="POST"
                            enctype="multipart/form-data"
                          >
                            <div class="col-md-12 wow-outer">
                              <div class="form-wrap wow fadeSlideInUp" style="visibility: visible; animation-name: fadeSlideInUp;">
                                <label class="form-label-outside">Name</label>
                                <input class="form-input form-control-has-validation form-control-last-child"  type="text" v-model="store.name">
                              </div>
                            </div>

                            <div class="col-md-12 wow-outer">
                              <div class="form-wrap wow fadeSlideInUp" style="visibility: visible; animation-name: fadeSlideInUp;">
                                <label class="form-label-outside">Description</label>
                                <textarea class="form-input form-control-has-validation form-control-last-child" style="height: 114px;" v-model="store.description"></textarea>
                              </div>
                            </div>

                            <div class="col-md-12 wow-outer">
                              <div class="form-wrap wow fadeSlideInUp" style="visibility: visible; animation-name: fadeSlideInUp;">
                                <label class="form-label-outside">Store Banner</label>
                                  <input
                                      type="file"
                                      name="picture"
                                      class="form-control-file form=-control"
                                      id="picture"
                                      style="margin: 6px"
                                      accept="image/x-png, image/gif, image/jpeg"
                                      @change="onFileChange"
                                  />
                              </div>
                            </div>
                            <div class="col-md-12 wow-outer">
                              <div class="row row-30 offset-top-2">
                                  <div class="col-sm-6 col-lg-3 wow-outer">
                                    <!-- Thumbnail Light-->
                                    <article class="thumbnail-light wow slideInLeft" data-wow-delay=".05s" style="visibility: visible; animation-delay: 0.05s; animation-name: slideInLeft;"><a class="thumbnail-light-media" href="#"><img class="thumbnail-light-image" v-bind:src="store_banner" alt="" width="270" height="300"></a>
                                    </article>
                                  </div>
                                
                              </div>
                            </div>
                            <div class="wow-outer button-outer"><button class="button button-sm button-primary button-winona wow slideInDown" data-wow-delay=".1s" type="submit">Save</button></div>
                          </form>
                          </div>
                        
                            <div class="col-12" v-if="errors">
                              <div class="alert alert-danger" role="alert" style="padding-left:0px">
                                  <p>Something went wrong!</br>
                                  {{this.errors}}
                                  </p>
                              </div>
                            </div>
                        </div>
                      </div>
                    </div>
                    <!-- end list of stores -->

                    <!-- List of albums -->
                    <div class="col-sm-12" v-if="this.trig=='add album'">
                      <div class="container mb-4" style="padding-left:0px">
                          <h6 style="font-size: 13px;">Add Album</h6>
                      </div>
                      <div class="section-lg pt-0">
                        <div class=" rd-mailform">
                          <div class="row row-10">
                            
                          <form
                            @submit="formSubmitAlbum"
                            method="POST"
                            enctype="multipart/form-data"
                          >
                            <div class="col-md-12 wow-outer">
                              <div class="form-wrap wow fadeSlideInUp" style="visibility: visible; animation-name: fadeSlideInUp;">
                                <label class="form-label-outside">Name</label>
                                <input class="form-input form-control-has-validation form-control-last-child"  type="text" v-model="album.name">
                              </div>
                            </div>

                              <div class="col-md-4 wow-outer">
                              <div class="form-wrap wow fadeSlideInUp" style="visibility: visible; animation-name: fadeSlideInUp;">
                                <label class="form-label-outside">Price</label>
                                <input class="form-input form-control-has-validation form-control-last-child"  type="number" step="0.01" v-model="album.price">
                              </div>
                            </div>
                            <div class="col-md-12 wow-outer">
                              <div class="form-wrap wow fadeSlideInUp" style="visibility: visible; animation-name: fadeSlideInUp;">
                                <label class="form-label-outside">Select Store</label>
                                  <select
                              class="form-input form-control-has-validation form-control-last-child"
                              id="exampleFormControlSelect1"
                               v-model="album.store_id"
                            >
                              <option value="">Choose Store</option>
                            <option
                                v-for="cs in store_list"
                                v-bind:value="cs.id"
                              >
                                {{ cs.name }}
                              </option>
                            </select>
                              </div>
                            </div>

                            <div class="col-md-12 wow-outer">
                              <div class="form-wrap wow fadeSlideInUp" style="visibility: visible; animation-name: fadeSlideInUp;">
                                <label class="form-label-outside">Description</label>
                                <textarea class="form-input form-control-has-validation form-control-last-child" style="height: 114px;" v-model="album.description"></textarea>
                              </div>
                            </div>

                            <div class="col-md-12 wow-outer">
                              <div class="form-wrap wow fadeSlideInUp" style="visibility: visible; animation-name: fadeSlideInUp;">
                                <label class="form-label-outside">Album Banner</label>
                                  <input
                                      type="file"
                                      name="picture"
                                      class="form-control-file form=-control"
                                      id="picture"
                                      style="margin: 6px"
                                      accept="image/x-png, image/gif, image/jpeg"
                                      @change="onFileChangeAlbum"
                                  />
                              </div>
                            </div>
                            <div class="col-md-12 wow-outer">
                              <div class="row row-30 offset-top-2">
                                  <div class="col-sm-6 col-lg-3 wow-outer">
                                    <!-- Thumbnail Light-->
                                    <article class="thumbnail-light wow slideInLeft" data-wow-delay=".05s" style="visibility: visible; animation-delay: 0.05s; animation-name: slideInLeft;"><a class="thumbnail-light-media" href="#"><img class="thumbnail-light-image" v-bind:src="album_banner" alt="" width="270" height="300"></a>
                                    </article>
                                  </div>
                                
                              </div>
                            </div>
                            <div class="wow-outer button-outer"><button class="button button-sm button-primary button-winona wow slideInDown" data-wow-delay=".1s" type="submit">Save</button></div>
                          </form>
                          </div>
                            <div class="col-12" v-if="errors">
                              <div class="alert alert-danger" role="alert" style="padding-left:0px">
                                  <p>Something went wrong!</br>
                                  {{this.errors}}
                                  </p>
                              </div>
                            </div>
                        </div>
                      </div>
                    </div>
                    
                    <div class="col-sm-12" v-if="this.trig=='list album'">
                      <div class="container" style="padding-left:0px">
                          <h6 style="font-size: 13px;">List of Albums</h6>
                      </div>
                      <div class="table-responsive wow fadeIn" style="visibility: visible; animation-name: fadeIn;">
                          <table class="table table-hover table-job-positions">
                            <thead>
                              <tr>
                                <th>Name</th>
                                <th>Price</th>
                                <th>Banner</th>
                                <th>Description</th>
                                <th>Action</th>
                              </tr>
                            </thead>
                            <tbody>
                              <tr v-for="cs in album_list">
                                <td style="text-align:left">
                                  {{cs.name}}
                                </td>
                                  <td style="text-align:left">
                                  {{cs.price}}
                                </td>
                                <td>
                                  <img v-if="!cs.banner" src="musc/images/logo-john-brad-72x48.png" alt="" width="72" height="48">
                                  <img v-if="cs.banner"  v-bind:src="'storage/album/banner/'+cs.banner" alt="" width="72" height="48">
                                </td>
                                <td class="position" style="text-align:left">{{cs.description}}</td>
                                <td class="position" style="text-align:left">
                                  <div class="group group-middle">
                                    <button class="button button-sm button-primary button-winona wow slideInDown" data-wow-delay=".1s" @click=showModal(cs.id,cs.name)>Add Music</button>
                                  </div>
                                </td>
                              </tr>
                            
                            </tbody>
                          </table>
                      </div>
                    </div>
                    <!-- end of albums -->

                  </div>
                
                </div>
                
              </article>
            </div>
    </section>
    <div
      class="modal fade"
      id="exampleModal"
      tabindex="-1"
      role="dialog"
      aria-labelledby="exampleModalLabel"
      aria-hidden="true"
    >
      <div class="modal-dialog modal-lg" role="document" style="min-width:100%">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="exampleModalLabel">
              Add Music - {{this.album_name}}
            </h5>
          </div>
          <div class="modal-body">
            <div class="row">
              <!-- music input -->
                 <div class="col-sm-12" >
                     <div class="container ml-0" style="padding-left: 0px;max-width:100%">
                        <h6 style="font-size: 13px;">Add Music Here</h6>
                      </div> 
                      <div class="section-lg pt-0">
                        <div class=" rd-mailform">
                          <div class="row row-10">
                            
                          <form
                            @submit="formSubmitSong"
                            method="POST"
                            enctype="multipart/form-data"
                          >
                            <div class="col-md-12 wow-outer">
                              <div class="form-wrap wow fadeSlideInUp" style="visibility: visible; animation-name: fadeSlideInUp;">
                                <label class="form-label-outside">Title</label>
                                <input class="form-input form-control-has-validation form-control-last-child"  type="text" v-model="music.title">
                              </div>
                            </div>

                            <div class="col-md-12 wow-outer">
                              <div class="form-wrap wow fadeSlideInUp" style="visibility: visible; animation-name: fadeSlideInUp;">
                                <label class="form-label-outside">Description</label>
                                <textarea class="form-input form-control-has-validation form-control-last-child" style="height: 114px;" v-model="music.description"></textarea>
                              </div>
                            </div>

                            <div class="col-md-12 wow-outer">
                              <div class="form-wrap wow fadeSlideInUp" style="visibility: visible; animation-name: fadeSlideInUp;">
                                <label class="form-label-outside">Select mp3 File</label>
                                  <input
                                      type="file"
                                      name="song"
                                      class="form-control-file form=-control"
                                      id="song"
                                      style="margin: 6px"
                                      accept=".mp3"
                                      @change="onFileChangeSong"
                                  />
                              </div>
                            </div>

                             <div class="col-md-12 wow-outer">
                              <div class="form-wrap wow fadeSlideInUp" style="visibility: visible; animation-name: fadeSlideInUp;">
                                <label class="form-label-outside">Select Artist</label>
                                  <select
                              class="form-input form-control-has-validation form-control-last-child"
                              id="exampleFormControlSelect1"
                               v-model="music.artist_id"
                            >
                              <option value="">Choose Artist</option>
                            <option
                                v-for="cs in artist_list"
                                v-bind:value="cs.id"
                              >
                                {{ cs.name }}
                              </option>
                            </select>
                              </div>
                            </div>
                          
                            <div class="wow-outer button-outer"><button class="button button-sm button-primary button-winona wow slideInDown" data-wow-delay=".1s" type="submit">Save</button></div>
                          </form>
                          </div>
                        
                            <div class="col-12" v-if="errors">
                              <div class="alert alert-danger" role="alert" style="padding-left:0px">
                                  <p>Something went wrong!</br>
                                  {{this.errors}}
                                  </p>
                              </div>
                            </div>
                        </div>
                      </div>
                    </div>
              <!-- end music input -->
              <!-- list of music -->
              <div class="col-sm-12 mt-2">
                <div class="container ml-0" style="padding-left: 0px;max-width:100%">
                  <h6 style="font-size: 13px;">List of Music</h6>
                  </div> 
                  <div class="table-responsive wow fadeIn mt-0"  style="visibility: visible; animation-name: fadeIn;">
                    <table class="table table-hover table-job-positions mt-0">
                      <thead>
                        <tr>
                          <th>Title</th> 
                          <th>Artist</th> 
                          <th>Description</th> 
                          <th>File</th> 
                          </tr>
                          </thead> 
                          <tbody>
                            <tr v-for="cs in music_list">
                              <td style="text-align: left;">
                                {{cs.title}}
                              </td> 
                               <td style="text-align: left;">
                                <figure v-if='cs.artist.picture' class="comment-classic-figure" :title='cs.artist.name'> 
                                  <img class="comment-classic-image"  v-bind:src="'storage/artist/picture/'+cs.artist.picture" alt="" width="48" height="48">
                                </figure>
                                <span v-if="!cs.artist.picture"> {{cs.artist.name}}</span>
                              </td> 
                              <td style="text-align: left;">
                                {{cs.description}}
                              </td> 
                              <td>
                               <audio controls  muted>
                                <source   v-bind:src="'storage/music/'+cs.file" type="audio/mpeg">
                                  Your browser does not support the audio element.
                              </audio>
                              </td> 
                  
                            </tr>
                          </tbody>
                    </table>
                  </div>
              </div>
              <!-- end music -->
            </div>
          </div>
          <div class="modal-footer">
            <button type="button"  class="btn btn-primary" @click=closeModal()>
              Close
            </button>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
export default {
  data() {
    return {
      errors: "",
      store_banner: "/musc/images/service-thumbnail-1-270x300.jpg",
      artist_picture: "/musc/images/service-thumbnail-1-270x300.jpg",
      album_banner: "/musc/images/service-thumbnail-1-270x300.jpg",
      file: "",
      store_list: "",
      album_id: "",
      album_name: "",
      album_list: "",
      music_list:"",
      artist_list: "",
      trig: "list store",
      artist: {
        name: "",
        description: "",
      },
      store: {
        name: "",
        description: "",
        
      },
      album: {
        name: "",
        price: "",
        description: "",
        store_id:""
      },

      music: {
        title: "",
        description: "",
        artist_id: "",
        album_id: "",
      },
    };
  },
  created() {
    document.title = "Admin Panel";
    this.loadStores();
    
  },

  methods: {
    async loadStores() {
      let res = await axios.get("/load-store");
      this.store_list = res.data;
    },
    
    async loadMusic() {
      let res = await axios.get('/load-music', {
          params: {
              album_id: this.album_id,
          },
          });

       this.music_list = res.data;
       console.log(this.music_list);
    },

    async loadArtists() {
      let res = await axios.get("/load-artists");
      this.artist_list = res.data;
    },
    async loadAlbum() {
      let res = await axios.get("/load-albums");
      this.album_list = res.data;
    },
    showModal(id, desc) {
      this.album_id = id;
      this.album_name = desc;
      this.loadArtists();
      this.loadMusic();
      $("#exampleModal").modal("show");
    },
    closeModal() {
      $("#exampleModal").modal("hide");
    },
    onFileChangeSong(e) {
      this.file = e.target.files[0];
      var file_name = e.target.files[0].name;
      const limitSize = e.target.files[0].size / 1000 / 1000;

      if (file_name.indexOf(".mp3") != file_name.length - 4) {
        this.$swal("Error", "Please select mp3 file only", "error");
        this.file = "";
      } else if (limitSize > 50) {
        console.log(
          "The attachment size exceeds the allowable limit.",
          "System"
        );

        this.file = "";
        return;
      } else {
        // this.music = URL.createObjectURL(this.file);
        // this.imgtrig = this.album_banner;
      }
    },
    formSubmitSong(e) {
      e.preventDefault();
      if (
        this.music.description.length == 0 ||
        this.music.title.length == 0 ||
        this.music.artist_id.length == 0
      ) {
        this.$swal("Error!", "All fields are required!", "error");
        return;
      }
      let currentObj = this;
      const config = {
        headers: {
          "content-type": "multipart/form-data",
        },
      };

      this.music.album_id = this.album_id;
      let formData = new FormData();
      formData.append("file", this.file);
      formData.append("title", this.music.title);
      formData.append("description", this.music.description);
      formData.append("artist_id", this.music.artist_id);
      formData.append("album_id", this.music.album_id);
      this.$swal({
        title: "Are you sure to add this music?",
        text: "",
        icon: "question",
        showCancelButton: true,
        confirmButtonColor: "#3085d6",
        cancelButtonColor: "#d33",
        confirmButtonText: "Yes, Save it!",
      }).then((result) => {
        if (result.isConfirmed) {
          axios.post("/save-music", formData, config).then((response) => {
            if (response.data.status == "ok") {
              this.loadMusic();
              this.$swal("Save!", response.data.message, "success");
            } else {
            }
          });
        }
      });
    },
    onFileChangeAlbum(e) {
      this.file = e.target.files[0];
      const fileType = this.file && this.file["type"].split("/")[0] === "image";

      const limitSize = e.target.files[0].size / 1000 / 1000;

      if (fileType == false) {
        this.$swal("Error", "Please select image only", "error");
        this.file = "";
        this.imgtrig = "";
        return;
      } else if (limitSize > 5) {
        console.log(
          "The attachment size exceeds the allowable limit.",
          "System"
        );

        this.file = "";
        return;
      } else {
        this.album_banner = URL.createObjectURL(this.file);
        this.imgtrig = this.album_banner;
      }
    },
    formSubmitAlbum(e) {
      console.log(this.album);
      e.preventDefault();
      if (
        this.album.description.length == 0 ||
        this.album.name.length == 0 ||
        this.album.store_id.length == 0 ||
        this.album.price.length == 0
      ) {
        this.$swal("Error!", "All fields are required!", "error");
        return;
      }
      let currentObj = this;
      const config = {
        headers: {
          "content-type": "multipart/form-data",
        },
      };

      let formData = new FormData();
      formData.append("file", this.file);
      formData.append("albumName", this.album.name);
      formData.append("albumDesc", this.album.description);
      formData.append("albumPrice", this.album.price);
      formData.append("storeId", this.album.store_id);
      this.$swal({
        title: "Are you sure to save this album?",
        text: "",
        icon: "question",
        showCancelButton: true,
        confirmButtonColor: "#3085d6",
        cancelButtonColor: "#d33",
        confirmButtonText: "Yes, Save it!",
      }).then((result) => {
        if (result.isConfirmed) {
          axios.post("/save-album", formData, config).then((response) => {
            if (response.data.status == "ok") {
              this.$swal("Save!", response.data.message, "success");
            } else {
            }
          });
        }
      });
    },
    onFileChangeArtist(e) {
      this.file = e.target.files[0];
      const fileType = this.file && this.file["type"].split("/")[0] === "image";

      const limitSize = e.target.files[0].size / 1000 / 1000;

      if (fileType == false) {
        this.$swal("Error", "Please select image only", "error");
        this.file = "";
        this.imgtrig = "";
        return;
      } else if (limitSize > 5) {
        console.log(
          "The attachment size exceeds the allowable limit.",
          "System"
        );

        this.file = "";
        return;
      } else {
        this.artist_picture = URL.createObjectURL(this.file);
        this.imgtrig = this.artist_picture;
      }
    },
    formSubmitArtist(e) {
      e.preventDefault();
      if (this.artist.description.length == 0 || this.artist.name.length == 0) {
        this.$swal("Error!", "All fields are required!", "error");
        return;
      }
      let currentObj = this;
      const config = {
        headers: {
          "content-type": "multipart/form-data",
        },
      };

      let formData = new FormData();
      formData.append("file", this.file);
      formData.append("artistName", this.artist.name);
      formData.append("artistDesc", this.artist.description);
      this.$swal({
        title: "Are you sure to save this artist?",
        text: "",
        icon: "question",
        showCancelButton: true,
        confirmButtonColor: "#3085d6",
        cancelButtonColor: "#d33",
        confirmButtonText: "Yes, Save it!",
      }).then((result) => {
        if (result.isConfirmed) {
          axios.post("/save-artist", formData, config).then((response) => {
            if (response.data.status == "ok") {
              this.$swal("Save!", response.data.message, "success");
            } else {
            }
          });
        }
      });
    },
    onFileChange(e) {
      this.file = e.target.files[0];
      const fileType = this.file && this.file["type"].split("/")[0] === "image";

      const limitSize = e.target.files[0].size / 1000 / 1000;

      if (fileType == false) {
        this.$swal("Error", "Please select image only", "error");
        this.file = "";
        this.imgtrig = "";
        return;
      } else if (limitSize > 5) {
        console.log(
          "The attachment size exceeds the allowable limit.",
          "System"
        );

        this.file = "";
        return;
      } else {
        this.store_banner = URL.createObjectURL(this.file);
        this.imgtrig = this.store_banner;
      }
    },
    formSubmit(e) {
      e.preventDefault();
      if (this.store.description.length == 0 || this.store.name.length == 0) {
        this.$swal("Error!", "All fields are required!", "error");
        return;
      }
      let currentObj = this;
      const config = {
        headers: {
          "content-type": "multipart/form-data",
        },
      };

      let formData = new FormData();
      formData.append("file", this.file);
      formData.append("storeName", this.store.name);
      formData.append("storeDesc", this.store.description);
      this.$swal({
        title: "Are you sure to save this store?",
        text: "",
        icon: "question",
        showCancelButton: true,
        confirmButtonColor: "#3085d6",
        cancelButtonColor: "#d33",
        confirmButtonText: "Yes, Save it!",
      }).then((result) => {
        if (result.isConfirmed) {
          axios.post("/save-store", formData, config).then((response) => {
            if (response.data.status == "ok") {
              this.$swal("Save!", response.data.message, "success");
            } else {
            }
          });
        }
      });
    },
    changeView(trig) {
      this.trig = trig;
      if (trig == "list store") {
        this.loadStores();
      }

      if (trig == "add store") {
        this.store.description = "";
        this.store.name = "";
      }

      if (trig == "list artist") {
        this.loadArtists();
      }

      if (trig == "add artist") {
        this.artist.description = "";
        this.artist.name = "";
      }

      if (trig == "add album") {
        this.album.description = "";
        this.album.name = "";
        this.album.price = "";
      }

      if (trig == "list album") {
        this.loadAlbum();
      }
    },
  },
};
</script>