<template>
  <div
    class="modal fade"
    id="cartModal"
    tabindex="-1"
    role="dialog"
    aria-labelledby="exampleModalLabel"
    aria-hidden="true"
  >
    <div class="modal-dialog modal-lg" role="document" style="min-width: 100%">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel">My Cart</h5>
          <button type="button" class="btn btn-primary" @click="closeModal()">
            X
          </button>
        </div>
        <div class="modal-body">
          <div class="row row-50 row-xxl-70">
            <!---->
            <!---->
            <div class="col-sm-12">
              <div
                class="table-responsive wow fadeIn"
                style="visibility: visible; animation-name: fadeIn"
              >
                <table class="table table-hover table-job-positions">
                  <thead>
                    <tr>
                      <th>Album Name</th>
                      <th>Banner</th>
                      <th>Price</th>
                      <th>Action</th>
                    </tr>
                  </thead>
                  <tbody>
                    <tr v-for="cs in _cartitems" v-if="_cartitems.length > 0">
                      <td style="text-align: left">{{ cs.album.name }}</td>
                      <td>
                        <img
                          v-if="!cs.album.banner"
                          src="musc/images/logo-john-brad-72x48.png"
                          alt=""
                          width="72"
                          height="48"
                        />
                        <img
                          v-if="cs.album.banner"
                          v-bind:src="'storage/album/banner/' + cs.album.banner"
                          alt=""
                          width="72"
                          height="48"
                        />

                        <!---->
                      </td>
                      <td
                        class="position"
                        style="text-align: left; color: #dc0000"
                      >
                        ₱{{ cs.amount | currency }}
                      </td>
                      <td class="position" style="text-align: left">
                        <div class="group group-middle">
                          <button
                            data-wow-delay=".1s"
                            class="
                              button button-sm button-primary button-winona
                              wow
                              slideInDown
                            "
                            style="
                              visibility: visible;
                              animation-delay: 0.1s;
                              animation-name: slideInDown;
                            "
                            @click="updateItem(cs.id, cs.transaction_id)"
                          >
                            Remove
                          </button>
                        </div>
                      </td>
                    </tr>
                  </tbody>
                </table>
              </div>
            </div>

            <!---->
            <!---->
            <!---->
          </div>
        </div>
        <div class="modal-footer">
          
          
              <h4 v-if="_total">
                Total Amount:
                <span  style="color: #dc0000">
                  <b>₱{{ _total | currency }}</b></span
                >
              </h4>
           
           
              
                <button
                  data-wow-delay=".1s"
                  class="
                    button button-lg button-primary button-winona
                    wow
                    slideInDown
                    mt-0
                  "
                  style="
                    visibility: visible;
                    animation-delay: 0.1s;
                    animation-name: slideInDown;
                  "
                  v-if="_total"
                  @click="checkOut()"
                >
                  Check Out
                </button>
              
           
        </div>
      </div>
    </div>
  </div>
</template>

<script>
export default {
  props: ["_cartitems", "_total"],
  data() {
    return {
      item_list: "",
      isFirst: true,
    };
  },
  mounted() {
    console.log(this._cartitems);
  },
  methods: {
    checkOut(){
       this.$swal({  
          title: 'Do you really want to checkout?',  
          showDenyButton: true,  showCancelButton: false,  
          confirmButtonText: `Checkout`,  
          denyButtonText: `Cancel`,
          icon: 'question',
}).then((result) => {
    if (result.isConfirmed) { 
       axios
        .post("/checkout", {
          params: {
            transaction_id: this._cartitems[0].transaction_id,
          },
        })
        .then((response) => {
          if (response.data.status == "ok") {
            this.$swal("Success!", response.data.message, "success").then(()=>{
              window.location.reload();
            });
             
          } else {
            this.$swal("Error!", "Purchase unsuccessful", "error");
          }
        });
    }
});

    },
    closeModal() {
      $("#cartModal").modal("hide");
    },
    updateItem(transid, mainid) {
      axios
        .post("/update-item", {
          params: {
            transaction_id: transid,
            main_id: mainid,
          },
        })
        .then((response) => {
          if (response.data.status == "ok") {
            this.$swal("Removed!", response.data.message, "success");
            this.$emit("update:_cartitems", response.data.data.trans_summary);
            this.$emit("update:_total", response.data.total);
          } else {
          }
        });
    },
  },

  filters: {
    currency(amount) {
      const amt = Number(amount);
      return (
        (amt && amt.toLocaleString(undefined, { maximumFractionDigits: 2 })) ||
        "0"
      );
    },
  },
};
</script>