<template>
    <div class="row" style="margin-top: 0px">
   
<!-- Slider Light-->
      <section class="swiper-container swiper-slider swiper-slider-light context-dark" data-loop="true" data-autoplay="true" data-simulate-touch="false" data-custom-slide-effect="inter-leave-effect" data-inter-leave-offset="-.5">
        <div class="swiper-wrapper">
          <div class="swiper-slide" data-slide-bg="../musc/images/slider-light-slide-1-1920x776.jpg">
            <div class="slide-inner">
              <div class="container">
                <div class="swiper-slide-caption">
                  <h1 class="wow-outer"><span class="wow-outer"><span class="wow" data-caption-animate="slideInDown">Music <span class="trs-italic">for</span> Everyone</span></span></h1>
                  <div class="wow-outer button-outer"><a class="button button-lg button-primary button-winona wow" href="#" data-caption-animate="slideInDown" data-wow-delay=".2s">Buy Album</a></div>
                </div>
              </div>
            </div>
          </div>
          <div class="swiper-slide" data-slide-bg="../musc/images/slider-light-slide-2-1920x776.jpg">
            <div class="slide-inner">
              <div class="container">
                <div class="swiper-slide-caption">
                  <h1 class="wow-outer"><span class="wow-outer"><span class="wow" data-caption-animate="slideInDown">Lorem ipsum <span class="trs-italic">dolor </span> Sit Amet</span></span></h1>
                  <div class="wow-outer button-outer"><a class="button button-lg button-primary button-winona wow" href="#" data-caption-animate="slideInDown" data-wow-delay=".2s">Buy Album</a></div>
                </div>
              </div>
            </div>
          </div>
          <div class="swiper-slide" data-slide-bg="../musc/images/slider-light-slide-3-1920x776.jpg">
            <div class="slide-inner">
              <div class="container">
                <div class="swiper-slide-caption">
                  <h1 class="wow-outer"><span class="wow-outer"><span class="wow" data-caption-animate="slideInDown">Pick <span class="trs-italic">Nemo</span> Voluptatem</span></span></h1>
                  <div class="wow-outer button-outer"><a class="button button-lg button-primary button-winona wow" href="#" data-caption-animate="slideInDown" data-wow-delay=".2s">Buy Album</a></div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="swiper-pagination-outer container">
          <div class="swiper-pagination swiper-pagination-modern swiper-pagination-marked" data-index-bullet="true"></div>
        </div>
      </section>
 <!-- Music albums-->
      <section class="section section-2 text-center" style="padding:20px 0 60px">
        <div class="container">
           <h3 class="wow-outer"><span class="wow slideInUp">Deal of the Day and Today's Best Deals</span></h3>
          <p class="wow-outer"><span class="wow slideInDown text-width-1">Minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure.</span></p>
          
          <div class="pricing-group-modern wow-outer">
            <!-- Pricing Modern-->
            <article class="pricing-modern wow fadeInLeft pt-2" style="visibility: visible; animation-name: fadeInLeft;" v-for="cs in _album">
              <h5 class="pricing-modern-title mb-2"><a href="#">{{cs.name}}</a></h5>
               <article class="thumbnail-light wow slideInLeft">
                <img v-if="!cs.banner" class="thumbnail-light-image" src="musc/images/service-thumbnail-1-270x300.jpg" alt="" width="270" height="300"/>
                <img v-if="cs.banner" class="thumbnail-light-image"  v-bind:src="'storage/album/banner/'+cs.banner" alt="" width="270" height="300"/>
               
               </article>
               <div class="pricing-minimal-divider"></div>
                <p>{{cs.description}}</p>
              <p class="pricing-modern-price mt-2" >
                <span class="pricing-modern-price-currency">₱</span>{{cs.price|currency}}
                </p>
                <a class="button button-primary button-winona" href="#" @click="addToCart(_auth.id,cs.id,cs.price)">
                <div class="content-original">Add to Cart</div>
                <div class="content-dubbed">Add to Cart</div>
                </a>
            </article>
          
          </div>
        </div>
      </section>

      
  
    </div>
</template>

<script>

export default {
  data() {
    return {
        errors:"",
        transaction:{
          user_id:"",
          album_id:"",
          price:""
        }
      
    };
  },
  props:['_album','_auth'],
  created() {
  //  console.log(this._album);
  },
  methods:{
    addToCart(id,album_id,price){
      if(this._auth){
        this.transaction.user_id = id;
        this.transaction.album_id =album_id;
        this.transaction.price = price;
        axios.post("/add-to-cart", {params:{
          transaction: this.transaction,
        }}).then((response) => {
            if (response.data.status == "ok") {
              this.$swal("Save!", response.data.message, "success");
            } else {
            }
          });
      }
      else{
        window.location.href = "/login-user";
      }
    }

  },

  filters: {
    currency(amount) {
      const amt = Number(amount)
      return amt && amt.toLocaleString(undefined, {maximumFractionDigits:2}) || '0'
    }
  }
 
};
</script>