<template>
 <div class="row mt-0">
 <div class="section-sm">
        <div class="container">
          <h6>Log In</h6>
        </div>
        <section class="section bg-gray-100">
          <div class="range justify-content-xl-between">
          

             <div class="cell-xl-6 align-self-center container">
              <div class="row">
                <div class="col-lg-9 cell-inner border-right">
                  <div class="section-lg pt-0">
                    <h3 class="wow-outer"><span class="wow slideInDown" style="visibility: visible; animation-name: slideInDown;">Log In Your Account Here!</span></h3>
                    <!-- RD Mailform-->
                    <div class="rd-form rd-mailform">
                      <div class="row row-10">
                        

                       <div class="col-md-12 wow-outer">
                          <div class="form-wrap wow fadeSlideInUp" style="visibility: visible; animation-name: fadeSlideInUp;">
                            <label class="form-label-outside">User Name</label>
                            <input class="form-input form-control-has-validation form-control-last-child"   @keyup.enter="login" type="text" v-model="user_name" >
                          </div>
                        </div>

                         <div class="col-md-12 wow-outer">
                          <div class="form-wrap wow fadeSlideInUp" style="visibility: visible; animation-name: fadeSlideInUp;">
                            <label class="form-label-outside">Password</label>
                            <input class="form-input form-control-has-validation form-control-last-child"  @keyup.enter="login" type="password" v-model="password" >
                          </div>
                        </div>
            
                      </div>
                      <div class="group group-right text-right">
                      <div class="wow-outer">
                          <a class="button button-primary-outline button-icon button-icon-left button-winona wow slideInLeft"  style="visibility: visible; animation-name: slideInLeft;"  v-bind:href="'/register'">
                              <div class="content-original">
                                <span class="icon text-primary mdi  mdi-content-save"></span>
                                Register
                              </div>
                              <div class="content-dubbed">
                                <span class="icon text-primary mdi mdi-content-save"></span>
                                Register
                              </div>
                          </a>
                        </div>
                        <div class="wow-outer">
                          <a class="button button-primary-outline button-icon button-icon-left button-winona wow slideInLeft"  style="visibility: visible; animation-name: slideInLeft;" @click="login">
                              <div class="content-original">
                                <span class="icon text-primary mdi mdi-lock-open"></span>
                                Log In
                              </div>
                              <div class="content-dubbed">
                                <span class="icon text-primary mdi mdi-lock-open"></span>
                                Log In
                              </div>
                          </a>
                        </div>

                        
                      </div>
                        <div class="col-12" v-if="errors">
                          <div class="alert alert-danger" role="alert" style="padding-left:0px">
                              <p>Something went wrong!</br>
                              {{this.errors}}
                              </p>
                          </div>
                        </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </section>
      </div>
 </div>
</template>

<script>
export default {
  data() {
    return {
        errors:"",
        user_name: "",
        password: ""
      
    };
  }, 
  created() {
    document.title = "Log In Form";
  },
  methods: {
    
    login() {
     axios
        .get("/login", {params: { 
          user_name: this.user_name,
          password: this.password}
        })
        .then((response) => {
          
          if(response.data.status=="success"){
          window.location.href="/";
          
          }
          else{
            this.errors = response.data.message;
          }
        });
    
    },

    
  },
};
</script>