<template>
    <div class="row" style="margin-top: 0px">
    <section class="section section-2 text-center" style="padding:20px 0 60px">
       
        <div class="container">
           <h3 class="wow-outer"><span class="wow slideInUp">My Music Album</span></h3>
          <p class="wow-outer"><span class="wow slideInDown text-width-1">Minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure.</span></p>
          
          <div class="pricing-group-modern wow-outer">
            <!-- Pricing Modern-->
            <article class="pricing-modern wow fadeInLeft pt-2" style="visibility: visible; animation-name: fadeInLeft;" v-for="cs in _album">
              <h5 class="pricing-modern-title mb-2"><a href="#">{{cs.album.name}}</a></h5>
               <article class="thumbnail-light wow slideInLeft">
                <img v-if="!cs.album.banner" class="thumbnail-light-image" src="musc/images/service-thumbnail-1-270x300.jpg" alt="" width="270" height="300"/>
                <img v-if="cs.album.banner" class="thumbnail-light-image"  v-bind:src="'storage/album/banner/'+cs.album.banner" alt="" width="270" height="300"/>
               
               </article>
               <div class="pricing-minimal-divider"></div>
                <p>{{cs.album.description}}</p>
              <p class="pricing-modern-price mt-2" >
                <span class="pricing-modern-price-currency">₱</span>{{cs.amount|currency}}
                </p>
                <a class="button button-primary button-winona" href="#" @click="viewMusic(cs.album_id,cs.album.name)">
                <div class="content-original">View Music</div>
                <div class="content-dubbed">View Music</div>
                </a>
            </article>
          
          </div>
        </div>
      </section>
       <div
      class="modal fade"
      id="musicModal"
      tabindex="-1"
      role="dialog"
      aria-labelledby="exampleModalLabel"
      aria-hidden="true"
    >
      <div class="modal-dialog modal-lg" role="document" style="min-width:100%">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="exampleModalLabel">
              Album: {{this.album}}
            </h5>
            <button type="button" class="btn btn-primary" @click="closeModal()">
            X
          </button>
          </div>
          <div class="modal-body">
            <div class="row">
              <!-- list of music -->
              <div class="col-sm-12 mt-2">
                <div class="container ml-0" style="padding-left: 0px;max-width:100%">
                  <h6 style="font-size: 13px;">List of Music</h6>
                  </div> 
                  <div class="table-responsive wow fadeIn mt-0"  style="visibility: visible; animation-name: fadeIn;">
                    <table class="table table-hover table-job-positions mt-0">
                      <thead>
                        <tr>
                          <th>Title</th> 
                          <th>Artist</th> 
                          <th>Description</th> 
                          <th>File</th> 
                          </tr>
                          </thead> 
                          <tbody>
                            <tr v-for="cs in music_list">
                              <td style="text-align: left;">
                                {{cs.title}}
                              </td> 
                               <td style="text-align: left;">
                                <figure v-if='cs.artist.picture' class="comment-classic-figure" :title='cs.artist.name'> 
                                  <img class="comment-classic-image"  v-bind:src="'storage/artist/picture/'+cs.artist.picture" alt="" width="48" height="48">
                                </figure>
                                <span v-if="!cs.artist.picture"> {{cs.artist.name}}</span>
                              </td> 
                              <td style="text-align: left;">
                                {{cs.description}}
                              </td> 
                              <td>
                               <audio controls  muted>
                                <source   v-bind:src="'storage/music/'+cs.file" type="audio/mpeg">
                                  Your browser does not support the audio element.
                              </audio>
                              </td> 
                  
                            </tr>
                          </tbody>
                    </table>
                  </div>
              </div>
              <!-- end music -->
            </div>
          </div>
        </div>
      </div>
    </div>
    </div>
</template>

<script>

export default {
  data() {
    return {
        errors:"",
        music_list:"",
        album:"",
        album_id:"",
        transaction:{
          user_id:"",
          album_id:"",
          price:""
        }
      
    };
  },
  props:['_album','_auth'],
  created() {
  console.log(this._album);
  },
  methods:{
      async loadMusic() {
      let res = await axios.get('/load-playlist', {
          params: {
              album_id: this.album_id,
          },
          });

       this.music_list = res.data;
    },
     closeModal() {
      $("#musicModal").modal("hide");
    },
    viewMusic(id,name){
      this.album=name;
      this.album_id =id;
      this.loadMusic();
      $("#musicModal").modal("show");
    }
  },

  filters: {
    currency(amount) {
      const amt = Number(amount)
      return amt && amt.toLocaleString(undefined, {maximumFractionDigits:2}) || '0'
    }
  }
 
};
</script>