<template>
 <div class="row mt-0">
 <div class="section-sm">
        <div class="container">
          <h6>Register</h6>
        </div>
        <section class="section bg-gray-100">
          <div class="range justify-content-xl-between">
            <div class="cell-xl-6 align-self-center container">
              <div class="row">
                <div class="col-lg-9 cell-inner border-right">
                  <div class="section-lg pt-0" >
                    <h3 class="wow-outer"><span class="wow slideInDown" style="visibility: visible; animation-name: slideInDown;">Register</span></h3>
                    <!-- RD Mailform-->
                    <div class="rd-form rd-mailform">
                      <div class="row row-10">
                        <div class="col-md-6 wow-outer">
                          <div class="form-wrap wow fadeSlideInUp" style="visibility: visible; animation-name: fadeSlideInUp;">
                            <label class="form-label-outside">First Name</label>
                            <input class="form-input form-control-has-validation form-control-last-child"  type="text" v-model="reg.first_name" Required>
                          </div>
                        </div>
                        <div class="col-md-6 wow-outer">
                          <div class="form-wrap wow fadeSlideInUp" style="visibility: visible; animation-name: fadeSlideInUp;">
                            <label class="form-label-outside" >Middle Name</label>
                            <input class="form-input  form-control-last-child" type="text" v-model="reg.middle_name" >
                          </div>
                        </div>
                       <div class="col-md-6 wow-outer">
                          <div class="form-wrap wow fadeSlideInUp" style="visibility: visible; animation-name: fadeSlideInUp;">
                            <label class="form-label-outside">Last Name</label>
                            <input class="form-input form-control-has-validation form-control-last-child"  type="text" v-model="reg.last_name" >
                          </div>
                        </div>
                        <div class="col-md-6 wow-outer">
                          <div class="form-wrap wow fadeSlideInUp" style="visibility: visible; animation-name: fadeSlideInUp;">
                            <label class="form-label-outside">Suffix</label>
                            <input class="form-input form-control-has-validation form-control-last-child"  type="text" v-model="reg.suffix" >
                          </div>
                        </div>
                       <div class="col-md-6 wow-outer">
                          <div class="form-wrap wow fadeSlideInUp" style="visibility: visible; animation-name: fadeSlideInUp;">
                            <label class="form-label-outside">Email</label>
                            <input class="form-input form-control-has-validation form-control-last-child"  type="email" v-model="reg.email" >
                          </div>
                        </div>
                      <div class="col-md-6 wow-outer">
                          <div class="form-wrap wow fadeSlideInUp" style="visibility: visible; animation-name: fadeSlideInUp;">
                            <label class="form-label-outside">Phone</label>
                            <input class="form-input form-control-has-validation form-control-last-child"  type="text" v-model="reg.phone" >
                          </div>
                        </div>

                       <div class="col-md-12 wow-outer">
                          <div class="form-wrap wow fadeSlideInUp" style="visibility: visible; animation-name: fadeSlideInUp;">
                            <label class="form-label-outside">User Name</label>
                            <input class="form-input form-control-has-validation form-control-last-child"  type="text" v-model="reg.user_name" >
                          </div>
                        </div>

                         <div class="col-md-6 wow-outer">
                          <div class="form-wrap wow fadeSlideInUp" style="visibility: visible; animation-name: fadeSlideInUp;">
                            <label class="form-label-outside">Password</label>
                            <input class="form-input form-control-has-validation form-control-last-child"  type="password" v-model="reg.password" >
                          </div>
                        </div>

                       <div class="col-md-6 wow-outer">
                          <div class="form-wrap wow fadeSlideInUp" style="visibility: visible; animation-name: fadeSlideInUp;">
                            <label class="form-label-outside">C-Password</label>
                            <input class="form-input form-control-has-validation form-control-last-child"  type="password" v-model="reg.password_confirmation" >
                          </div>
                        </div>
            
                      </div>
                      <div class="group group-right text-right">
                       <div class="wow-outer"> 
                          <a class="button button-primary-outline button-icon button-icon-left button-winona wow slideInLeft"  v-bind:href="'/login-user'"style="visibility: visible; animation-name: slideInLeft;" >
                              <div class="content-original">
                                <span class="icon text-primary mdi mdi-lock-open"></span>
                                Already Registered?
                              </div>
                              <div class="content-dubbed">
                                <span class="icon text-primary mdi mdi-lock-open"></span>
                                Already Registered?
                              </div>
                          </a>
                        </div>
                        <div class="wow-outer">
                          <a class="button button-primary-outline button-icon button-icon-left button-winona wow slideInLeft"  style="visibility: visible; animation-name: slideInLeft;" @click="register">
                              <div class="content-original">
                                <span class="icon text-primary mdi mdi-content-save"></span>
                                Register
                              </div>
                              <div class="content-dubbed">
                                <span class="icon text-primary mdi mdi-content-save"></span>
                                Register
                              </div>
                          </a>
                        </div>
                      </div>
                        <div class="col-12" v-if="errors">
                          <div class="alert alert-danger" role="alert">
                            <h4 class="alert-heading">Something went wrong!</h4>
                          
                          <div v-for="cs in errors">
                              <p>
                              {{cs[0]}}
                              </p>
                          </div>

                            <hr />
                            <p class="mb-0">
                              Please correct the errors to continue.
                            </p>
                    </div>
                  </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>

            
          </div>
        </section>
      </div>
 </div>
</template>

<script>
export default {
  data() {
    return {
      errors:"",
      reg: {
        last_name: "",
        first_name: "",
        middle_name: "",
        suffix: "",
        phone: "",
        email: "",
        user_name: "",
        password: "",
        password_confirmation: "",
      },
    };
  },
   created() {
    document.title = "Registration";
  },
  methods: {
    
    register() {
      this.errors ="";
      
       console.log(this.reg);
      axios
        .post("/register-user", {
          reg: this.reg,
        })
        .then((response) => {
            this.errors = response.data.errors;
            if(!this.errors){
               this.$swal("Success", "You have successfully registered!", "Success");
            }
          
        });
    },

    
  },
};
</script>