<template>
    <header class="section page-header">
        <!-- RD Navbar-->
        <div class="rd-navbar-wrap">
          <nav class="rd-navbar rd-navbar-corporate" data-layout="rd-navbar-fixed" data-sm-layout="rd-navbar-fixed" data-md-layout="rd-navbar-fixed" data-md-device-layout="rd-navbar-fixed" data-lg-layout="rd-navbar-static" data-lg-device-layout="rd-navbar-fixed" data-xl-layout="rd-navbar-static" data-xl-device-layout="rd-navbar-static" data-xxl-layout="rd-navbar-static" data-xxl-device-layout="rd-navbar-static" data-lg-stick-up-offset="46px" data-xl-stick-up-offset="46px" data-xxl-stick-up-offset="46px" data-lg-stick-up="true" data-xl-stick-up="true" data-xxl-stick-up="true">
            <div class="rd-navbar-aside-outer">
              <div class="rd-navbar-aside">
                <!-- RD Navbar Panel-->
                <div class="rd-navbar-panel">
                  <!-- RD Navbar Toggle-->
                  <button class="rd-navbar-toggle" data-rd-navbar-toggle="#rd-navbar-nav-wrap-1"><span></span></button>
                  <!-- RD Navbar Brand--><a class="rd-navbar-brand" href=""><img src="/musc/images/logo-default-131x43.png" alt="" width="131" height="43" srcset="images/logo-default-282x86.png 2x"/></a>
                </div>
                <div class="rd-navbar-collapse">
                  <button class="rd-navbar-collapse-toggle rd-navbar-fixed-element-1" data-rd-navbar-toggle="#rd-navbar-collapse-content-1"><span></span></button>
                  <div class="rd-navbar-collapse-content" id="rd-navbar-collapse-content-1">
                    <article class="unit align-items-center">
                      <div class="unit-left"><span class="icon icon-md icon-modern mdi mdi-phone"></span></div>
                      <div class="unit-body">
                        <ul class="list-0">
                          <li><a class="link-default" href="#">#-###-####-111</a></li>
                          <li><a class="link-default" href="#">#-###-####-888</a></li>
                        </ul>
                      </div>
                    </article>
                    <article class="unit align-items-center">
                      <div class="unit-left"><span class="icon icon-md icon-modern mdi mdi-map-marker"></span></div>
                      <div class="unit-body"><a class="link-default" href="#">2130 sample Street <br> Business Sample Address</a></div>
                    </article>
                          <a v-if="_auth" class="button button-primary-outline button-winona" href="#" @click="showModal()">Cart</a>
                  </div>
                </div>
              </div>
            </div>
            <div class="rd-navbar-main-outer">
              <div class="rd-navbar-main">
                <div class="rd-navbar-nav-wrap" id="rd-navbar-nav-wrap-1">
                  <!-- RD Navbar Search-->
                  <div class="rd-navbar-search" id="rd-navbar-search-1">
                    <button class="rd-navbar-search-toggle" data-rd-navbar-toggle="#rd-navbar-search-1"><span></span></button>
                    <form class="rd-search" action="search-results.html" data-search-live="rd-search-results-live-1" method="GET">
                      <div class="form-wrap">
                        <label class="form-label" for="rd-navbar-search-form-input-1">Search...</label>
                        <input class="form-input rd-navbar-search-form-input" id="rd-navbar-search-form-input-1" type="text" name="s" autocomplete="off">
                        <div class="rd-search-results-live" id="rd-search-results-live-1"></div>
                      </div>
                      <button class="rd-search-form-submit fa-search" type="submit"></button>
                    </form>
                  </div>
                  <!-- RD Navbar Nav-->
                  <ul class="rd-navbar-nav">
                    <li class="rd-nav-item active"><a class="rd-nav-link" href="/">Home</a>
                    </li>
                    <li class="rd-nav-item"><a class="rd-nav-link" href="/store">Stores</a>
                    </li>
                  
                     <li class="rd-nav-item" v-if="_auth"><a class="rd-nav-link" href="/load-music-shopper">My Music</a>
                    </li>
                   
                    <li v-if="!_auth" class="rd-nav-item"><a class="rd-nav-link" href="/register">Register</a>
                      </li>
                   
                    
                        <li v-if="_auth && _auth.type==2"  class="rd-nav-item"><a class="rd-nav-link" href="/admin">Admin Panel</a>
                        </li>
                      <template v-if="_auth">
                      <li class="rd-nav-item"><a class="rd-nav-link" href="#">{{_auth.first_name}}</a>
                      <!-- RD Navbar Dropdown-->
                      <ul class="rd-menu rd-navbar-dropdown">
                        <li class="rd-dropdown-item"><a class="rd-dropdown-link" href="#">View Profile</a></li>
                        <li class="rd-dropdown-item"><a class="rd-dropdown-link" href="/logout">Log Out</a></li>
                      </ul>
                      </li>
                      </template>

                  </ul>
                </div>
              </div>
            </div>
          </nav>
        </div>
        <cart :_cartitems.sync="item_list" :_total.sync="total"></cart>
      </header>

</template>

<script>
import cart from './CartModal.vue';
export default {
  data() {
    return {
        errors:"",
        total:"",
        user_name: "",
        item_list:"",
        password: ""
      
    };
  },
  props:['_auth'],
  components:{cart}, 
  created() {
   
  },
  methods: {
    showModal() {
      this.loadCart(); 
      $("#cartModal").modal("show");
    },

    async loadCart() {
      let res = await axios.get('/load-cart', {
          params: {
              user_id: this._auth.id,
          },
          });
         
          this.total = res.data.total;
          this.item_list = res.data.data.trans_summary;
          console.log(this.item_list);
    },


    
  },
};
</script>